body{
	background-color: black;
	font-family: "Tangerine", serif;
}
#header-navbar{
	background-color: orange;
}
h1{
	color: black;
	font-weight: bolder;
	font-size: 80px;
	text-transform: capitalize; 
}
h2{
	text-align: center;
	margin: 10px;
	color: orange;
	text-transform: capitalize;
	font-weight: bold;
}
.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}
#layt{
	font-weight: bold;
	font-size: 1.4em;
}
#nav-list{
	font-weight: bold;
	font-size: 1.4em;
}
#nav-list a:hover{
	background-color: red;
}
#demo-tiles{
	position: relative;
	color: white;
	width: 100%;
	height: 200px;
	background-color: grey;
	margin: 15px auto;
	border: 2px solid orange;
}
#demo-tiles span{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 45%;
	margin-left: 0px;
	font-weight: bold;
	text-transform: uppercase;

}

/*extra large device*/
@media(min-height: 1200px){

}
/*medium device*/
@media(min-width: 992px) and (max-width: 1199px){

}
/*small device*/
@media(min-width: 763px) and (max-width: 991px){
	
}
/*extra - small device*/
@media(max-width: 762px){
	h1{
		font-size: 30px;
	}
	#layt{
		font-size: 1.1em;
	}


}